@import '../../../scss/settings/fonts';
@import '../../../scss/settings/mixins';

.call-to-action__overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 570px;
  background-color: rgba(0, 0, 0, 0.7);
}
.call-to-action__background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 570px;
  background-image: url("../../../assets/cta.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.call-to-action {
  width: 100%;
  height: 500px;
  position: relative;
  .call-to-action__container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 100px;
    p {
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1.25px;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 25px;
      span {
        font-size: 22px;
        font-style: normal;
      }
    }
    button {
      border: 0;
      padding: 12px 18px;
      border-radius: 5px;
      background-color: #FF6600;
      color: #fff;
      font-size: 20px;
      &:hover {
        background-color: #fa8f49;
      }
    }
  }
}

@include tablet() {
  .call-to-action__overlay {
    height: 670px;
  }
  .call-to-action__background {
    height: 670px;
  }
  .call-to-action {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .call-to-action__container {
      position: static;
      p {
        position: static;
        font-size: 22px;
      span {
        font-size: 24px;
      }
      }
    }
  }
}