$basic-color: #4a4a49;
$background-color: #f7f7f7;
$side-color: #5B605F;
$effects-color: #FF6600;

$info-color: #3498DB;
$success-color: #468966;
$warning-color: #FFB03B;
$trash-color: #BD4932;
$rows-color: #A1A194;
