@import './colors';

@mixin tablet() {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin middle() {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin mockup() {
  max-width: 1200px;
  margin: 30px auto;
  border: 1px dashed #ccc;
  background-color: $background-color;
  @content;
}

@mixin mockupHeader() {
  text-align: center;
  color: $effects-color;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  @content;
}

@mixin mockupDays() {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  @content;
}

@mixin addHeaderMockup() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  h3 {
    font-size: 22px;
    color: $effects-color;
    font-weight: 600;
  }
}

@mixin addInput() {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
}

@mixin addTextarea() {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
  resize: none;
}

@mixin addIcon() {
  margin-left: 20px;
  font-size: 30px;
  color: $success-color;
  padding: 10px;
  cursor: pointer;
}

@mixin actionIcons() {
  i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .edit {
    color: $warning-color;
  }
  .trash {
    color: $trash-color;
  }
}