@import '../../../scss/settings/colors';
@import '../../../scss/settings/mixins';

$grid-columns: 8;
$single-column: percentage(1 / $grid-columns);

.plan--mobile {
  @include mockup();
  padding: 15px;
  .plan__header--mobile {
    @include mockupHeader();
    font-size: 22px;
    padding-bottom: 15px;
  }
  .plan__row--mobile.plan__days--mobile {
    @include mockupDays();
    text-align: center;
  }
  .plan__row--mobile {
    width: 100%;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
    @for $i from 1 through $grid-columns {
      .plan__col-#{$i}--mobile {
        width: $single-column * $i;
        padding: 0 10px;
      }
    }
  }
  .plan__actions--mobile {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
    font-size: 14px;
    color: $effects-color;
    i {
      font-size: 20px;
    }
    .plan__action-previous--mobile {
      display: flex;
      align-items: center;
      i {
        margin-right: 5px;
      }
    }
    .plan__action-next--mobile {
      display: flex;
      align-items: center;
      i {
        margin-left: 5px;
      }
    }
  }
}

.modal--mobile {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  width: 300px;
  height: 500px;
  overflow: scroll;
  left: calc(50% - 150px);
  top: 15%;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  .modal__title--mobile {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
  .modal__description--mobile {
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 14px;
    span {
      font-weight: 600;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
  }
  .modal__lists-container--mobile {
    display: flex;
    justify-content: space-between;
    .modal__lists-title--mobile {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .modal__instructions-list--mobile {
      width: 55%;
      list-style: decimal inside;
      line-height: 20px;
      font-size: 14px;
      li {
        padding: 0 10px;
        margin-bottom: 5px;
      }
    }
    .modal__ingredients-list--mobile {
      width: 45%;
      list-style: disc inside;
      line-height: 20px;
      font-size: 14px;
      li {
        padding: 0 10px;
      }
    }
  }
}


