@import '../../../scss/settings/colors';
@import '../../../scss/settings/mixins';

$grid-columns: 8;
$single-column: percentage(1 / $grid-columns);

.plan--mobile {
  @include mockup();
  padding: 15px;
  .plan__header--mobile {
    @include mockupHeader();
    font-size: 22px;
    padding-bottom: 15px;
  }
  .plan__row--mobile.plan__days--mobile {
    @include mockupDays();
    text-align: center;
  }
  .plan__row--mobile {
    width: 100%;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
    @for $i from 1 through $grid-columns {
      .plan__col-#{$i}--mobile {
        width: $single-column * $i;
        padding: 0 10px;
      }
    }
  }
}


