@import '../../../scss/settings/mixins';
@import '../../../scss/settings/colors';

.header__side-drawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1100;
  background-color: #fff;
  padding: 70px 16px;
  transition: transform 0.3s ease-out;
  @include tablet() {
    .header__side-drawer {
      display: none;
    }
  }
  .header__side-drawer--cross {
    position: absolute;
    top: 10px;
    right: 10px;
    i {
      font-size: 48px;
      cursor: pointer;
      color: $side-color;
    }
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

