@import '../../../scss/settings/colors';
@import '../../../scss/settings/mixins';

$grid-columns: 7;
$single-column: percentage(1 / $grid-columns);

.plan {
  @include mockup();
  padding: 25px;
  .plan__header {
    @include mockupHeader();
    font-size: 22px;
    padding-bottom: 25px;
  }
  .row.plan__days {
    @include mockupDays();
  }
  .row {
    width: 100%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: $single-column * $i;
        padding: 0 10px;
      }
    }
    .col-1 {
      cursor: pointer;
      &:hover {
        color: #FF6600;
      }
    }
    .day {
      cursor: default;
      &:hover {
        color: $basic-color;
      }
    }
  }
  .plan__actions {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
    color: $effects-color;
    i {
      font-size: 24px;
    }
    .plan__action-previous {
      display: flex;
      align-items: center;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
    }
    .plan__action-next {
      display: flex;
      align-items: center;
      cursor: pointer;
      i {
        margin-left: 5px;
      }
    }
  }
}