@import '../../../scss/settings/colors';
@import '../../../scss/settings/mixins';

$grid-columns: 7;
$single-column: percentage(1 / $grid-columns);

.plan {
  @include mockup();
  padding: 25px;
  .plan__header {
    @include mockupHeader();
    font-size: 22px;
    padding-bottom: 25px;
  }
  .row.plan__days {
    @include mockupDays();
  }
  .row {
    width: 100%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        width: $single-column * $i;
        padding: 0 10px;
      }
    }
  }
}