.modal {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  width: 800px;
  left: 50%;
  top: 20%;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  .modal__title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
  .modal__description {
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    span {
      font-weight: 600;
      display: block;
      margin-bottom: 5px;
    }
  }
  .modal__lists-container {
    display: flex;
    justify-content: space-between;
    .modal__lists-title {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .modal__instructions-list {
      width: 60%;
      list-style: decimal inside;
      line-height: 26px;
      li {
        padding: 0 10px;
        margin-bottom: 10px;
      }
    }
    .modal__ingredients-list {
      width: 40%;
      list-style: disc inside;
      line-height: 26px;
      li {
        padding: 0 10px;
      }
    }
  }
}

.modal--mobile {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  width: 330px;
  height: 380px;
  overflow: scroll;
  left: 50%;
  top: 20%;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  .modal__title--mobile {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
  .modal__description--mobile {
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 14px;
    span {
      font-weight: 600;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
  }
  .modal__lists-container--mobile {
    display: flex;
    justify-content: space-between;
    .modal__lists-title--mobile {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .modal__instructions-list--mobile {
      width: 55%;
      list-style: decimal inside;
      line-height: 20px;
      font-size: 14px;
      li {
        padding: 0 10px;
        margin-bottom: 5px;
      }
    }
    .modal__ingredients-list--mobile {
      width: 45%;
      list-style: disc inside;
      line-height: 20px;
      font-size: 14px;
      li {
        padding: 0 10px;
      }
    }
  }
}