@import '../../scss/settings/variables';
@import '../../scss/settings/mixins';
@import '../../scss/settings/colors';

.about {
  width: 100%;
  .about__container {
    max-width: $container;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include tablet() {
      margin: 100px auto;
      flex-direction: row;
      justify-content: space-between;
    }
    .about__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      margin-bottom: 80px;
      @include tablet() {
        width: 33%;
      }
      i {
        font-size: 60px;
        margin-bottom: 25px;
      }
      .about__title {
        font-size: 32px;
        margin-bottom: 15px;
        text-align: center;
      }
      .about__description {
        max-width: 350px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 25px;
      }
      button {
        border: 0;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #919191;
        color: #fff;
        font-size: 14px;
        &:hover {
          background-color: $basic-color;
        }
      }
    }
  }
}