@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.add-recipe {
  @include mockup();
  padding: 15px;
  .add-recipe__header {
    @include addHeaderMockup();
    button {
      border: 0;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: $effects-color;
      color: #fff;
      &:hover {
        background-color: #fa8f49;
      }
    }
  }
  .add-recipe__form {
    padding: 5px;
    .add-recipe__input-container {
      width: 100%;
      margin-bottom: 15px;
      label {
        font-size: 20px;
      }
      input {
        @include addInput();
        padding: 5px;
      }
      textarea {
        @include addTextarea();
        padding: 5px;
      }
      .input-error {
        border: 1px solid red;
        background-color: #ff000036;
      }
    }
    .add-recipe__lists-container {
      display: flex;
      flex-direction: column;
      .add-recipe__input-container {
        display: flex;
        flex-direction: column;
        label {
          font-size: 22px;
          text-transform: uppercase;
          margin-top: 5px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          i {
            @include addIcon();
          }
        }
      }
      ol {
        list-style-type: decimal;
        list-style-position: inside;
        margin-top: 10px;
        margin-bottom: 40px;
      }
      ul {
        margin-top: 10px;
        list-style-type: disc;
        list-style-position: inside;
      }
      li {
        margin-bottom: 5px;
      @include actionIcons();
      }
    }
  }
}

@include middle() {
  .add-recipe {
    padding: 25px;
    .add-recipe__header {}
    .add-recipe__form {
      .add-recipe__input-container {
        display: flex;
        justify-content: flex-start;
        label {
          width: 170px;
          margin-right: 10px;
          box-sizing: border-box;
        }
        input {
          max-width: 850px;
        }
        textarea {
          max-width: 850px;
        }
      }
      .add-recipe__lists-container {
          flex-direction: row;
        margin-top: 30px;
        .add-recipe__input-container {
          &:first-of-type {
            margin-right: 10px;
          }
          &:last-of-type {
            margin-left: 10px;
          }
          label {
            i {
              font-size: 40px;
            }
          }
        }
        ol {
          margin-bottom: 0;
        }
        ul {
          margin-top: 30px;
        }
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}
