@import '../../../scss/settings/_variables';
@import '../../../scss/settings/_colors';
@import '../../../scss/settings/_fonts';
@import '../../../scss/settings/mixins';

header {
  width: 100%;
  background-color: $side-color;
  position: relative;
  z-index: 90;
  .header__container {
    max-width: $container;
    height: 70px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    a {
      color: #fff;
    }
    h1 {
      font-size: 40px;
      font-family: $logo-font;
      letter-spacing: 3px;
      margin-top: 8px;
      span {
        color: #E58A20;
      }
    }
    .hamburger {
      font-size: 36px;
      cursor: pointer;
      color: #fff;
      @include desktop() {
        display: none;
      }
    }
    nav {
      display: none;
      @include desktop() {
        display: block;
      }
    }
  }
}


