@import '../../../scss/settings/colors';

$grid-columns: 8;
$single-column: percentage(1 / $grid-columns);

.plan__header {
  padding: 10px 0;
  color: $effects-color;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.plan__days--mobile {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.row--mobile {
  width: 100%;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  @for $i from 1 through $grid-columns {
    .col-#{$i}--mobile {
      width: $single-column * $i;
      padding: 0 5px;
      text-align: left;
    }
  }
  .col-8--mobile.day, .col-4--mobile.day {
    text-align: center;
  }
}
.last-row--mobile {
  border-bottom: 1px solid transparent;
}


