@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.add-recipe {
  margin: 30px auto;
  padding: 30px;
  border: 1px dashed #ccc;
  background-color: $background-color;
  max-width: 1100px;
  .add-recipe__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    h3 {
      font-size: 22px;
      color: $effects-color;
      font-weight: 600;
    }
    button {
      border: 0;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: $effects-color;
      color: #fff;
      &:hover {
        background-color: #fa8f49;
      }
    }
  }
  .add-recipe__form {
    padding: 5px;
    .add-recipe__input-container {
      width: 100%;
      margin-bottom: 15px;
      @include middle() {
        display: flex;
        justify-content: flex-start;
      }
      label {
        font-size: 20px;
        @include middle() {
          width: 170px;
          margin-right: 10px;
          box-sizing: border-box;
        }
      }
      input {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        background-color: #fff;
        font: inherit;
        padding: 6px 10px;
        box-sizing: border-box;
        @include middle() {
          max-width: 850px;
        }
      }
      textarea {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        background-color: #fff;
        font: inherit;
        padding: 6px 10px;
        box-sizing: border-box;
        resize: none;
        @include middle() {
          max-width: 850px;
        }
      }
      .error-message {}
    }
    .add-recipe__lists-container {
      display: flex;
      flex-direction: column;
      @media (min-width: 700px) {
        flex-direction: row;
      }
      .add-recipe__input-container {
        display: flex;
        flex-direction: column;
        @include middle() {
          &:first-of-type {
            margin-right: 10px;
          }
          &:last-of-type {
            margin-left: 10px;
          }
        }
        label {
          font-size: 22px;
          text-transform: uppercase;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
      ol {
        list-style-type: decimal;
        list-style-position: inside;
        margin-top: 10px;
        margin-bottom: 40px;
      }
      ul {
        margin-top: 10px;
        list-style-type: disc;
        list-style-position: inside;
        @include middle() {
          margin-top: 30px;
        }
      }
      li {
        margin-bottom: 5px;
      }
    }
  }
}

