@import '../../scss/settings/mixins';

.form__container {
  width: 85%;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  background: #fff;
  @include tablet() {
    width: 500px;
  }
  .input__container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    input {
      display: block;
      width: 100%;
      outline: none;
      border: 1px solid #ccc;
      background-color: #fff;
      font: inherit;
      padding: 6px 10px;
      box-sizing: border-box;
    }
    .error-message {
      padding: 3px 10px;
      margin: 0;
      text-align: left;
      color: red;
    }
  }
  button {
    background: #E58A20;
    color: white;
    display: block;
    width: 100%;
    margin-top: 40px;
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 4px;
    letter-spacing: 10px;
    font-size: 16px;
  }
  button[type="submit"]:hover {
    background: #f4a65b;
    cursor: pointer;
  }
  button[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(5px);
    opacity: 0.8;
  }
  input {
    &:focus {
      outline: none;
      background-color: #ccc;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #222;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
  }
  p {
    margin-bottom: 25px;
  }
  a {
    color: #0077ff;
  }
}