@import '../../../scss/settings/colors';

.dashboard__buttons {
  max-width: 350px;
  display: flex;
  margin: 30px auto 40px;
  .dashboard__buttons-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $success-color;
    cursor: pointer;
    i {
      font-size: 45px;
      margin-bottom: 10px;
    }
    span {
      font-size: 18px;
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    .tooltip-text {
      font-size: 16px;
      visibility: hidden;
      width: 120px;
      background-color: #5B605F;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      left: 120%;
      z-index: 1;
    }
  }
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
.dashboard__info {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $info-color;
  font-weight: bold;
  i {
    font-size: 30px;
    margin-right: 20px;
  }
  span {
    font-size: 18px;
  }
}