@import '../../../scss/settings/colors';

.dashboard__buttons {
  max-width: 350px;
  display: flex;
  margin: 30px auto 40px;
  .dashboard__buttons-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $success-color;
    cursor: pointer;
    i {
      font-size: 45px;
      margin-bottom: 10px;
    }
    span {
      font-size: 18px;
    }
  }
}
.dashboard__info {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $info-color;
  font-weight: bold;
  i {
    font-size: 30px;
    margin-right: 20px;
  }
  span {
    font-size: 18px;
  }
}